<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%= siteTitle %></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="themes/<%= theme %>.css">
	</head>
	<body>
		<div id="sitename">
			<h1><%= siteName %></h1>
		</div>
		<div id="navbar"><%- include('navbar.ejs') -%></div>
		<div id="content"><%- content -%></div>
		<script src="" async defer></script>
	</body>
</html>