<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%= config.siteTitle %></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="images/favicon.ico">
		<link rel="stylesheet" href="themes/<%= config.theme %>.css">
	</head>
	<body>
		<div id="sitename">
			<h1><%= config.siteName %></h1>
		</div>
		<div id="navbar"><%- include('navbar.ejs') -%></div>
		<div id="content"><%- content -%></div>
		<div id="footer"><%- include('footer.ejs') -%></div>
		<script src="" async defer></script>
	</body>
</html>