<ul>
	<% for (let index = 0; index < navBar.items.length; index++) { %>
		<% const item = navBar.items[index] %>
		<% if (item.type == "page") { %>
			<% if (item.name == navBar.active) { %>
				<% if (item.float == "right") { %>
					<li style="float:right" class="active"><a href=<%= item.URL %> ><%= item.name %></a></li>
				<% } else { %>
					<li class="active"><a href=<%= item.URL %> ><%= item.name %></a></li>
				<% } %>
			<% } else { %>
				<% if (item.float == "right") { %>
					<li style="float:right"><a href=<%= item.URL %> ><%= item.name %></a></li>
				<% } else { %>
					<li><a href=<%= item.URL %> ><%= item.name %></a></li>
				<% } %>
			<% } %>
			
		<% } %>
	<% } %>
</ul>